.banner {

    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}



.logo {
    filter: brightness(150%);
}



#language {
    background-color: aliceblue;
    border: 1 px solid;
    padding: 8px;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 40px;
    border-radius: 15px;
}

.blur-box {}

.blurry {
    border: 1px solid none;
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 300px;
    margin-left: 300px;
    background-image: transparent;
    padding: 0 200px 0 200px;
    height: 280px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    backdrop-filter: blur(10px);
}

.bbtt {
    background: #ed017e;
    border: 2px solid #ed017e;
    color: white;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.bannertext {}