.purposeSection {
    background-color: #fbfdfc;
}

.purposeBoxes {
    background-color: white;
    border: 1px solid #cae2d8;
    border-radius: 8px;
}

.crit {
    margin-left: 180px;
}

.allLongBoxes {
    margin: 0 30px 0 30px 0;
}

.longTermBoxes {
    background-color: white;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}

.docfiles {
    border: 0.5px solid silver;
}

.firstR {
    border-top: 0.5px solid silver;
}

.lastDoc {
    border-bottom: 1px solid silver;
}

.arrow-up {
    rotate: 180deg;
}

.downbtn {
    text-decoration: none;
    padding: 5px;
    border: 2px solid #ed017e;
    background-color: #ed017e;
    width: 170px;
    padding-top: 25px;
    padding-bottom: 10px;
    height: 30px;
    color: white;
    border-radius: 3px;
}

.hide {
    visibility: hidden;
}